/*
Colors:
Geel: #FDCC12
Rood: #8B1734
*/

.bg-primary{
    background-color: #fef2c1;
    color: #333;
}

.primary {
    border-color: #8B1734;
}

.logo {
    background-color: #8B1734;
    border: 3px solid #8B1734;
}

.toggle-red {
    background-color: #8B1734;
}

@media (min-width: 768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: none;
        letter-spacing: 1px;
        background: transparent;
        -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    }
    .navbar-custom.top-nav-collapse {
        padding: 0;
        background: #8b1734;
        /*border-bottom: 1px solid rgba(253, 204, 18, 0.3);*/
    }

    .logo {
        height: 75px;
    }

    .navbar {
        height: 62px;
    }

    .navbar-brand {
        padding-top: 3px;
    }
	
	.navbar-nav>li>a {
		padding-bottom: 20px;
		padding-top: 22px;
	}

    .affix-top li a {
        text-shadow: 1px 1px black;
    }
	
	.navbar-default.affix .nav > li > a,
	.navbar-default.affix .nav > li > a:focus {
		color: #FDCC12;
    }

	
	.navbar-custom .nav li.active a {
		/*background-color: rgba(253, 204, 18, 0.3);*/
        box-shadow: inset 0 -3px 0 0 #FDCC12;
	}

    .right {
        padding-left: 15px;
    }

    .popup-gallery {
        padding-bottom: 50px;
    }
}

@media (max-width: 768px) {
    .navbar-custom {
        background: transparent;
    }

    .navbar-custom.top-nav-collapse {
        background: #8b1734;
    }

    .logo {
        height: inherit;
    }

    .navbar-brand {
        padding-top: 5px;
    }

    .navbar {
        height: 61px;
    }
	
	.navbar-default .navbar-collapse, 
	.navbar-default .navbar-form {
		background-color:#8B1734;
	}

    .navbar-default .nav > li > a:hover,
    .navbar-default .nav > li > a:focus:hover {
        color: #FDCC12;
    }
}

.navbar-custom .nav li.active {
    outline: none;
}

.navbar-default.affix .nav > li > a {
    color: #FFFFFF;
}

.navbar-default.affix .nav > li > a:hover {
    color: #FDCC12;
}

.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
    color: #FDCC12;
}

.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid white;
  border-radius: 100% !important;
  font-size: 40px;
  color: white;
  background: transparent;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
  outline: none;
  color: white;
  background: rgba(255, 255, 255, 0.1);
}
.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}
.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}
.btn-special {
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 0;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
header {
  background-image: url('../img/header.jpeg');
}
.navbar-toggle {
	padding-bottom: 13px;
	padding-top: 13px;
}	

.navbar-default .nav > li > a, 
.navbar-default .nav > li > a:focus {
    color: #FFFFFF;
}

.navbar-default.affix .nav > li > a:hover,
.navbar-default.affix .nav > li > a:focus:hover {
	color: #FDCC12;
}
	
.navbar-default .navbar-header .navbar-toggle {
    color: #FFFFFF;
}

.navbar-default .navbar-toggle {
    border-color: #FDCC12;	
	background-color: #8B1734;
}

.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
    color: #FDCC12;
	background-color: #8B1734;
}

.navbar-default .navbar-collapse, 
.navbar-default .navbar-form {
    border-color: #FFFFFF;
}

a {
	color: #8B1734;
}

a:hover,
a:focus {
  color: #FDCC12;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
